name: Upgrade

on:
  schedule:
    - cron: "0 0 * * 0"

jobs:
  upgrade:
    name: Upgrade
    runs-on: self-hosted

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v6.0.2

      - name: Upgrade
        run: nix run .#upgrade

      - name: Detect changes
        id: detect-changes
        continue-on-error: true
        run: test -n "$(git status --porcelain)"

      - name: Verify
        if: ${{ steps.detect-changes.outcome == 'success' }}
        run: nix run .#verify

      - name: Commit
        if: ${{ steps.detect-changes.outcome == 'success' }}
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          git commit --file MSG
          git push
          rm MSG
